# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Notebooks
.ipynb_checkpoints/
*.ipynb

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Archives
*.zst
*.tar
*.tar.gz
*.tgz
*.zip
*.rar
*.7z

# Scratch
tmp/
*.tmp
*.html
test.py
val_jumps.png
gic_df_old.csv
figures_old/

# Data
data/admittance_matrix/
data/admittance_matrix_v1/
data/econ_data/
data/Electric__Power_Transmission_Lines/
data/EMTF/
data/geomag_data/
data/gannon_gic_compact/
data/gannon_gnd_gic/
data/gannon_gic_processed/
data/gic/
data/gic_eff/
data/gnd_gic/
data/gnd_gic_processed/
data/grid_processed/
data/horton_grid/
data/kp_ap_indices/
data/peak_times_1.npy
data/regression/
data/statistical_analysis/
data/storm_maxes/
data/substation_locations/
data/substation_locations_relations/
data/substations_raw.csv
data/grid_mapping.csv

# Figures
figures/

# CSV outputs
*.csv
viz/debug.py**/__pycache__/
*.pwb
*.pwd
*.aux
*.RAW


#Rep mapping
data/rep_data/tva/arr_v_tva.npy
data/rep_data/tva/bus_ids_map.pkl
data/rep_data/tva/df_lines.parquet
data/rep_data/tva/sub_look_up.pkl
data/rep_data/tva/substation_buses.pkl
data/rep_data/uiuc150/arr_v_uiuc.npy
data/rep_data/uiuc150/bus_coords.pkl
data/rep_data/uiuc150/df_lines.pkl
data/rep_data/uiuc150/df_lines_with_voltages.pkl
data/rep_data/uiuc150/df_transformers.pkl
data/rep_data/uiuc150/ground_gic.parquet
data/rep_data/uiuc150/n_nodes.npy
data/rep_data/uiuc150/sub_look_up.pkl
data/rep_data/uiuc150/sub_ref.pkl
data/rep_data/uiuc150/substations_df.pkl